body{
    font-family: "Michroma", sans-serif;
    background-image:url('/Media/whitebg.png');
    background-size: cover;
    color: rgb(0, 0, 0);
}

#topbox, #navbar, #projects, #aboutme, #resume, #forms {
  visibility: hidden;
  position: relative;
  transition: left 0.5s ease; 
}
#topbox, #aboutme, #projects, #resume,  #forms {
  left: -100%; 
}
.title{
  margin-left: 600px;
  font-size: 45px;
  margin-top: 0;
}
.topnav {
    position: fixed;
    width: 98%;
    height: 60px;
    overflow: hidden;
    top: 0;
    border-radius: 10px;
    padding: 5px;
    background-color: transparent;
}
.material-symbols-outlined{
  transform: scale(2);
}
span.padd{
  padding: 5px 15px 5px 10px;
}
div.top{
  margin-top: 30px;
}
.topnav-left .button{
  height: 46px;
}
.button{
  float: left;
  text-align: center;
  padding-top: 15px;
  text-decoration: none;
  width: 130px;
  margin-right: 5px;
  border: 2px solid black;
  background-color: transparent;
  color: black;
}
.button:hover {
  background-color: white;
  text-decoration: underline;
  font-weight: bold;
}
a#active {
  background-color: #4bc497;
  
}
.topnav-right {
  right: 0;
  top: 0;
  margin-top: 7px; 
  position: absolute;
}
.icon-text {
  display: block;
  text-align: center;
  font-size: 12px;
  margin-top: 2px;
  color: black;
}
.box{
  max-height: 300px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: transparent;
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
    overflow: hidden;
    border-bottom: 2px solid grey;
}
div.long{
  max-height: 800px;
  height: 800px;
}
.boximg{
  height: 300px;
  float: right;
}
.content{
  width: 500px;
}
h1{
  text-decoration: underline;
  padding-top: 0;
  margin-top: 0;
}

.large{
  font-size: large;
}
p{
  font-size: medium;
  text-align: left;
}
p.black{
  color: black;
}
footer{
  bottom: 0;
  position: fixed;
  opacity: 0.5;
  background-color: rgb(141, 214, 214);
  font-size: 20px;
  padding: 5px;
}
footer:hover{
  opacity: 1.0;
}

.resume{
  height: 800px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgb(171, 177, 182);
  border: 2px solid black;
  overflow: hidden;
  padding: 10px 10px 10px 10px;
  color: #4bc497;
  margin-bottom: 20px;
}
.leftCV{
  font-weight: bold;
  float: left;
  background-color: white;
  width: 350px;
  height: 800px;
  overflow: hidden;
  border: 2px solid black;
}
.imgCV{
  width: 350px;
  height: 300px;
}
.bioCV{
  border-top: 2px solid black;
  font-size: medium;
  padding: 5px 5px 5px 5px;
  height: 500px;
  width: 350px;
  background-color: white;
}
.rightCV{
  margin-left: 380px;
  height: 800px;
  background-color: white;
  width: 1080px;
  text-align: center;
}
div.section{
  padding: 5px 5px 5px 5px;
  border: 2px solid black;
  height: 200px;
  overflow-x: hidden;
}
fieldset{
  width: 500px;
  height: 800px;
  background-color: #4bc497;
  color: rgb(118, 10, 135);
  font-weight: bold;
  font-size: 1.4vw;
}
label, input{
  font-size: 1.4vw;
  margin: 10px 0px 10px 0px;
}
fieldset.one{
  float: left;
}
fieldset.two{
  float: right;
}
legend{
  background-color: antiquewhite;
  color: blueviolet;
  font-size: large;
}
.buttons{
  background-color: brown;
  color: cadetblue;
  font-size: larger;
}




