.dark {
    background-image: url('/src/Media/Backgrounds/dark.svg');
}
.light {
    background-image: url('/src/Media/Backgrounds/light.svg');
}
.brown{
    background-color: rgb(30, 28, 21);
}
.alice{
    color: aliceblue;
}
