@font-face {
  font-family: 'MyFont';
  src:url(fonts/OpenSans.ttf) format('truetype');
  font-weight: 500;
  font-size: 20px;
}
body{
  font-size: calc(15px + 0.390625vw);
  position: relative;
  font-family: 'MyFont';
}
a{
  color: bisque;
}
body.main{
    background-size: cover;
    .nav{
      visibility: hidden;
    }
  }
  .inLine{
    li{
      display: inline;
    }
  }
  
  .flex{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    i{
      margin-right: 60px;
      margin-top: 30px;
    }
  }
  
  /*Text CSS*/
  h1{
    font-size: calc(25px + 0.390625vw);
    text-decoration: underline;
    padding-top: 0;
    margin-top: 0;
  }
  
  
  /*Text CSS*/
  
  
  /*Animation css */
  #topbox, #aboutme, #resume, #forms, #cc,#c, #bottomInfo{
    visibility: hidden;
    position: relative;
    transition: left 0.5s ease; 
  }
  
  #topbox, #aboutme, #resume,  #forms, #cc,#c, #bottomInfo{
    left: -100%; 
  }
  /*Animation css */
  
  
  /*Navbar CSS */
  
  header{
    position: fixed;
    min-height: 60px;
    max-height: 80px;
    top: 0;
    border-radius: 15px;
    padding: 5px;
    background-color: #2fdcec;
    width: 95%;
    margin: 1dvh 2dvh 0dvh 2dvh;
  }
  .topnav-left .button{
  float: left;
  }
  .topnav-left{
    max-height: 70px;
    width: 60%;
  }
  .topnav-right{
    max-height: 70px;
    float: right;
    width: 40%;
  }
  @media screen and (max-width:552px){
    .topnav-right{
      width: 30%;
    }
  }
  .topnav-right .button{
    float: right;
  }
  @media screen and (max-width:739px){
    .topnav-right{
      padding-right: 20px;
    }
  }
  @media screen and (max-width:568px) {
    .topnav-right .button{
      float: left;
    }
    .button.main{
      width: 45px;
    }
  }
  .material-symbols-outlined{
  transform: scale(2);
  padding-bottom: 5px;
  }
  .icon-text {
  display: block;
  text-align: center;
  font-size: calc(6px + 0.390625vw);
  margin-top: 2px;
  color: transparent;
  }
  
  .button.main{
  text-align: center;
  padding-top: 15px;
  text-decoration: none;
  min-width: 55px;
  width: 20%;
  border: 0px;
  background-color: transparent;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  overflow: hidden;
  max-height: 80.6px;
  min-height: 55px;
  }
  @media screen and (max-width:1000px) {
    .material-symbols-outlined{
      transform: scale(1.5);
      padding-bottom: 5px;
      }
    .icon-text{
      color: #000000;
      font-weight: bold;
      background-color: chartreuse;
    }
  }
  @media screen and (max-width:550px){
    .header{
      margin-left: 0;
    }
    .button.main{
      min-width: auto;
      width: 45px;
    }
  
  }
  .black{
    color: #000000;
  }
  .button.main:hover {
  text-decoration: underline;
  font-weight: bold;
  color: rgb(0, 0, 0);
  .icon-text{
    color: rgb(0, 0, 0);
    background-color: white;
  }
  }
  
  .selecT{
  font-size: large;
  float: right;
  }
  /*Navbar CSS */
  
  
  /*footer css */ 
  footer{
    bottom: 0;
    position: fixed;
    opacity: 0.5;
    background-color: rgb(141, 214, 214);
    font-size: 20px;
    padding: 10px;
    color: purple;
    left: 0;
  }
  footer:hover{
    opacity: 1.0;
  }
  /*footer css */ 
  
  
  /*Box CSS*/
  .content{
    padding-top: 120px;
    overflow: hidden;
  }
  #topbox{
    padding-top: 70px;
  }
  
  .box{
      margin:1%;
      max-height: 2000px;
      background-color: transparent;
      padding: 10px 2% 10px 2%;
      overflow: hidden;
      border-bottom: 2px solid grey;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
  }
  /*Box CSS*/
  
  
  /*Index CSS*/
  .boximg{
    height: 300px;
    max-width: 99%;
    margin: auto;
    border: 3px solid black;
    background-color: #717171;
    margin-top: 2%;
  }
  
  .text{
    max-width: 50%;
    margin: auto;
  }
  @media screen and (max-width:1000px){
    .text{
      max-width: 95%;
    }
    p{
      max-width: 98%;
    }
  }
  /*Index CSS*/
  
  /* About me CSS*/
  
  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: static;
    margin: auto;
  }
  @media screen and (max-width:361px){
    div.board{
      overflow: hidden;
      width: 100px ;
    }
  }
  .mySlides {
    display: none;
    max-width: max-content;
  }
  @media screen and (max-width:362px){
    .mySlides{
        font-size: calc(8px + 0.390625vw);
  
    }
  }
  #c{
    margin: 0;
    padding-left: 0;
  }
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 0.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  #content{
    padding-top: 2px;
  }
  .resume{
    min-height: 800px;
    width: 99%;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(171, 177, 182);
    border: 2px solid black;
    overflow: hidden;
    padding: 10px 10px 10px 10px;
    color: #4bc497;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: unwrap;
    justify-content: space-around;
  }
  .leftCV{
    font-weight: bold;
    float: left;
    background-color: white;
    width: 25%;
    min-height: 800px;
    overflow: hidden;
    border: 2px solid black;
  }
  .leftP{
    padding-left: 60px;
    font-size: calc(8px + 0.390625vw);
  
  }
  .rightCV{
    min-height: 800px;
    background-color: white;
    text-align: center;
    font-size: calc(12px + 0.390625vw);
    max-width: 74%;
  }
  .imgCV{
    width: 100%;
    height: 400px;
  }
  .bioCV{
    border-top: 2px solid black;
    padding: 5px 5px 5px 5px;
    height: 100%;
    width: 100%;
    font-size: calc(10px + 0.390625vw);
    background-color: white;
  }
  div.section{
    padding: 5px 5px 5px 5px;
    border: 2px solid black;
    max-height: 400px;
    overflow-x: hidden;
  }
  span.padd{
    padding: 5px 15px 5px 10px;
  }
  @media screen and (max-width:1370px){
    .bioCV{
      font-size: calc(7px + 0.390625vw);
    }
  }
  @media (orientation:portrait){
    .resume, .leftCV, .rightCV, div.section, .bioCV, .imgCV {
      width: 0%;
      margin: 0;
      border: 0;
      padding: 0;
      min-height: 1px;
      max-height: 10px;
    }
    .resume#content{
      height: 1px;
    }
  }
  #content{
    justify-content: space-around;
  }
  .board{
    min-height: 300px;
    text-align: center;
    padding: 1%;
    font-size: calc(12px + 0.390625vw);
    padding-left: 4%;
    width: 80%;
    border: 5px solid white;
    background-color: rgb(62, 27, 27);
    margin: auto;
    p{
      text-align: start;
    }
  }
  @media screen and (max-width:1000px) {
    .board{
      max-width: 75%;
    }
  }
  @media screen and (max-width:600px){
    .board{
      min-width: 310px;
      margin: auto;
      padding-right: 4%;
    }
  }
  @media screen and (max-width:330px) {
    .board{
      font-size: calc(10px + 0.390625vw);
    }
    
  }
  /* About me CSS*/
  
  
  /* contact me css*/
  #ff{
    display: flex;
    flex-wrap: wrap;
  }
  fieldset{
    max-width: 80%;
    margin-bottom: 50px;
    width: 500px;
    max-height: 800px;
    background-color: #4bc497;
    color: rgb(118, 10, 135);
    font-weight: bold;
    font-size: calc(10px + 0.390625vw);
  }
  @media screen and (max-width:1000px){
    fieldset{
      max-width: 50%;
    }
  }
  label, input{
    margin: 10px 0px 10px 0px;
  }
  input{
    max-width: 230px;
  }
  input:invalid{
    border: 2px solid red;
    color: red;
  }
  fieldset.one{
    float: left;
  }
  fieldset.two{
    float: right;
  }
  legend{
    background-color: antiquewhite;
    color: blueviolet;
    font-size: calc(15px + 0.390625vw);
  }
  .buttons{
    background-color: brown;
    color: cadetblue;
    font-size: larger;
  }
  /* contact me css*/
  .bold{
    font-weight: bolder;
  }
  
  /* Project Page CSS */
  .grid{
    display: grid;
    column-gap: 30px;
    row-gap: 10px;
    grid-template: max-content  / max-content max-content max-content max-content;
  }
  @media screen and (min-width:1031px ) and (max-width:1380px) {
    .grid{
      grid-template: max-content / max-content max-content max-content;
    }
  }
  @media screen and (max-width:1030px){
    .grid{
      grid-template-columns: max-content max-content;
    }
  }
  @media screen and (max-width:682px){
    .grid{
      margin: auto;
      grid-template: max-content / max-content;
    }
  }
  @media screen and (max-width:332px){
    .projectBox{
      width: 280px;
    }
  }
  .projectBox{
    max-height: 500px;
    max-width: 300px;
    border: 3px solid #2fdcec;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    margin: 5px;
    margin-left: auto;
  
  }
  .projectImg{
    width: 100%;
    max-height: 200px;
    top: 0;
    img{
      width: 100%;
      height: 100%;
    }
  }
  .projectText{
    width: 96%;
    margin: auto;
    font-size: calc(10px + 0.390625vw);
    font-weight: 500;
    padding: 2%;
    overflow: hidden;
    color: #000000;
  }
  /* Project Page CSS */
  
  
  @media screen and (max-width:328px){
    #bottomInfo{
      font-size: calc(12px + 0.390625vw);
  
    }
  }
  #bottomInfo{
    background-color: #000000;
    color: yellow;
    margin-top: 0;
    justify-content: space-between;
    font-size: calc(9px + 0.390625vw);
    padding: 0px 50px 100px 50px;
    a{
      color: yellow;
    }
    span{
      color: yellow;
    }
    span:hover{
      color: white;
      text-decoration: underline;
    }
    li{
      list-style-type: square;
      color: #2fdcec;
    }
  }
  #bottomInfo .socials{
    li{
      list-style-type: none;
    }
  }
  
  #bottomInfo div{
    max-width: 450px;
    margin-top: 30px;
}
body.projj{
  color: aliceblue;
  font-optical-sizing: auto;
  .footer{
    visibility: hidden;
  }
  a{
    color: bisque;
    text-decoration: none;
  }
}
.padding{
  padding:100px 160px 100px 160px;
}
@media screen and (max-width:1000px){
  body.proj{
      padding: 0;
      padding-bottom: 100px;
  }
  .padding{
    margin-top: 80px;
    padding: 0;
  }
}
@media screen and (min-width: 1000px) and  (max-width:1250px){
  .padding{
    margin-top: 20px;
  }
}
.gap{
    padding-top: 3%;
}

.title{
    font-size: calc(25px + 0.390625vw);
    color: rgb(255, 225, 159);
    margin-right: 200px;
}
.desc{
    color: bisque;
    padding: 0px 0px 50px 0px;
}


.bold{
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
}
.container{
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    align-content: flex-start;
    margin-bottom: 30px;
    a{
        font-size: 20px;
    }
}
.wrap{
    flex-wrap: wrap;
}
.tags{
    border: 2px solid wheat;
    color: wheat;
    padding: 10px;
    margin-right: 10px;
    font-size: 14px;
}
.firstImg{
    width: 60%;
    margin-right: 20%;
}

h2{
    font-size: 24px;
}

.nav{
    visibility: visible;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    min-width: 70%;
    margin-left: 10%;
    max-width: 99%;
    height: 70px;
    background-color: rgb(0, 0, 0);
    margin-bottom: 20px;
    border: 2px solid white;
    align-items: center;
    a{
      color: bisque;
    }
}
.button.proj{
    width: 100%;
    text-align: center;
    padding: 10px;
    border-right: 1px solid white;
}
@media screen and (max-width:704px){
    .nav{
        min-width: 90%;
        font-size: calc(10px + 0.390625vw);
        margin-left: 10px;
    }
}
@media screen and (max-width:390px){
    .nav{
        font-size: calc(8px + 0.390625vw);
    }
}
.small{
    font-size: calc(13px + 0.390625vw);
}
.resource img#vercel{
    height: 95px;
}
.resource{
    text-align: center;
    padding: 10px;
    color: #74C0FC;
    margin: 15px;
    height: 100px;
    img{
        height: 70px;
    }
    i{
        width: 100%;
        font-size: 70px;
        height: 70px;
    }
    p{
        margin-top: 7px;
    }
}
.java{
    img{
        height: 125px;
    }
}

.resource:hover{
    border: 2px solid rgb(255, 225, 159);
    p{
        visibility: visible;
    }
}

div#stack{
    flex-wrap: wrap;
    max-width: 1100px;
}
#skills p{
    width: 80%;
}
#calc{
    width: 40%;
}
#enrol{
    width: 50%;
}
#pass{
    width: 70%;
}
#port{
  width: 99%;
}


.dark {
    background-image: url(Media/Backgrounds/dark.svg);
}
.light {
    background-image: url(Media/Backgrounds/light.svg);
}
.brown{
    background-color: rgb(30, 28, 21);
}
.alice{
    color: aliceblue;
}

