@font-face {
    font-family: 'MyFont';
    src:url('./OpenSans.ttf') format('truetype');
    font-weight: 500;
    font-size: 20px;
}
body{
    background-color: rgb(30, 28, 21);
    font-family: "MyFont";
    font-weight: 400;
    font-size: calc(15px + 0.390625vw);
    color: aliceblue;
    font-optical-sizing: auto;
}
#content{
  padding: 100px 160px 100px 160px;
}
@media screen and (max-width:1000px){
  body{
      padding: 0;
      padding-bottom: 100px;
  }
  #content{
    margin-top: 80px;
    padding: 0;
  }
}
@media screen and (min-width: 1000px) and  (max-width:1250px){
  #content{
    margin-top: 20px;
  }
}
.gap{
    padding-top: 3%;
}

.title{
    font-size: calc(25px + 0.390625vw);
    color: rgb(255, 225, 159);
    margin-right: 200px;
}
.desc{
    color: bisque;
    padding: 0px 0px 50px 0px;
}

a{
    color: bisque;
    text-decoration: none;
}
.bold{
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
}
.container{
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    align-content: flex-start;
    margin-bottom: 30px;
    a{
        font-size: 20px;
    }
}
.wrap{
    flex-wrap: wrap;
}
.tags{
    border: 2px solid wheat;
    color: wheat;
    padding: 10px;
    margin-right: 10px;
    font-size: 14px;
}
.firstImg{
    width: 80%;
    margin-right: 20%;
}
img{
    width: 100%;
}
h2{
    font-size: 24px;
}

.nav{
    visibility: visible;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    min-width: 70%;
    margin-left: 10%;
    max-width: 99%;
    height: 70px;
    background-color: rgb(0, 0, 0);
    margin-bottom: 20px;
    border: 2px solid white;
    align-items: center;
}
.button.proj{
    width: 100%;
    text-align: center;
    padding: 10px;
    border-right: 1px solid white;
}
@media screen and (max-width:704px){
    .nav{
        min-width: 90%;
        font-size: calc(10px + 0.390625vw);
        margin-left: 10px;
    }
}
@media screen and (max-width:390px){
    .nav{
        font-size: calc(8px + 0.390625vw);
    }
}
.small{
    font-size: calc(13px + 0.390625vw);
}
.resource img#vercel{
    height: 95px;
}
.resource{
    text-align: center;
    padding: 10px;
    color: #74C0FC;
    margin: 15px;
    height: 100px;
    img{
        height: 70px;
    }
    i{
        width: 100%;
        font-size: 70px;
        height: 70px;
    }
    p{
        margin-top: 7px;
    }
}
.java{
    img{
        height: 125px;
    }
}
.hidden{
    visibility: hidden;
}
.resource:hover{
    border: 2px solid rgb(255, 225, 159);
    p{
        visibility: visible;
    }
}

div#stack{
    flex-wrap: wrap;
    max-width: 1100px;
}
#skills p{
    width: 80%;
}
#calc{
    width: 40%;
}
#enrol{
    width: 50%;
}
#pass{
    width: 70%;
}


@media screen and (max-width:328px){
    #bottomInfo{
      font-size: calc(12px + 0.390625vw);
  
    }
  }
  #bottomInfo{
    background-color: #000000;
    color: yellow;
    margin-top: 0;
    justify-content: space-between;
    font-size: calc(9px + 0.390625vw);
    padding: 0px 50px 100px 50px;
    a{
      color: yellow;
    }
    span{
      color: yellow;
    }
    span:hover{
      color: white;
      text-decoration: underline;
    }
    li{
      list-style-type: square;
      color: #2fdcec;
    }
  }
  #bottomInfo .socials{
    li{
      list-style-type: none;
    }
  }
  
  #bottomInfo div{
    max-width: 450px;
    margin-top: 30px;
  }

  
.box{
    margin:1%;
    max-height: 2000px;
    background-color: transparent;
    padding: 10px 2% 10px 2%;
    overflow: hidden;
    border-bottom: 2px solid grey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.flex{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    i{
      margin-right: 60px;
      margin-top: 30px;
    }
  }



  header{
    position: fixed;
    min-height: 60px;
    max-height: 80px;
    top: 0;
    border-radius: 15px;
    padding: 5px;
    background-color: #2fdcec;
    width: 95%;
    margin: 1dvh 2dvh 0dvh 2dvh;
  }
  button#darkmode{
    visibility: hidden;
  }
  .topnav-left .button.main{
  float: left;
  }
  .topnav-left{
    max-height: 70px;
    width: 60%;
  }
  .topnav-right{
    max-height: 70px;
    float: right;
    width: 40%;
  }
  .topnav-right .button.main{
    float: right;
  }
  @media screen and (max-width:739px){
    .topnav-right{
      width: 50%;
    }
  }
  @media screen and (max-width:568px) {
    .topnav-right .button.main{
      float: left;
      width: 35%;
    }
    .topnav-left .button.main{
      width: 20%;
    }
  }
  .material-symbols-outlined{
  transform: scale(2);
  padding-bottom: 5px;
  }
  .icon-text {
  display: block;
  text-align: center;
  font-size: calc(6px + 0.390625vw);
  margin-top: 2px;
  color: transparent;
  }
  
  .button.main{
  text-align: center;
  padding-top: 15px;
  text-decoration: none;
  width: 20%;
  border: 0px;
  background-color: transparent;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  overflow: hidden;
  max-height: 80.6px;
  min-height: 55px;
  }
  @media screen and (max-width:1000px) {
    .material-symbols-outlined{
      transform: scale(1.5);
      padding-bottom: 5px;
      }
    .icon-text{
      color: #000000;
      font-weight: bold;
      background-color: chartreuse;
    }
  }
  
  .black{
    color: #000000;
  }
  .button.main:hover {
  text-decoration: underline;
  font-weight: bold;
  color: rgb(0, 0, 0);
  .icon-text{
    color: rgb(0, 0, 0);
    background-color: white;
  }
  }
  
  .selecT{
  font-size: large;
  float: right;
  }
  .customization{
    visibility: hidden;
  }
  #CursorOptions #cursors{
    visibility: hidden;
  }
 label{
  visibility: hidden;
  font-size: 1px;
 }
 select#cusors{
  visibility: hidden;
 }